main {
  font-family: pt sans, sans-serif;
  font-size: 15px;
  color: #444;
  margin: 30px 80px 50px 320px;
  text-align: left;
  line-height: 20px;
  max-width: 900px;
}
main a {
  color: #000;
  text-decoration: none;
}
main a:hover {
  color: #7ba7af;
  text-decoration: none;
}
main h1, main #sidebar h3, #sidebar main h3 {
  font-weight: bolder;
  font-size: 1.3em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 35px;
  color: #7ba7af;
}
main h1:after, main #sidebar h3:after, #sidebar main h3:after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid;
  overflow: hidden;
  justify-content: space-around;
}
main h2, main h3 {
  color: #000;
  font-size: 2em;
  font-weight: bolder;
}
main h3 {
  font-size: 1.1em;
}
main .date {
  font-style: italic;
}
main #experience .row {
  line-height: 25px;
  padding: 1px;
}
main #experience .row .col-md-6 {
  padding-left: 21% !important;
  margin-right: -14% !important;
}
main #pdfSkills {
  display: none;
}
main #pdfTitle {
  font-size: 1em;
  text-align: center;
  display: none;
  width: 100%;
}
main #mobileContact {
  display: none;
}

.icon {
  width: 2.5em;
  margin: 0em 1.5em;
}

.description {
  font-size: 0.8em;
  text-align: center;
}

.hobby-icons {
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

/* SIDEBAR */
#profile-pic {
  border: 0.7em solid whitesmoke;
  border-radius: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

#sidebar {
  font-family: pt sans, sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 290px;
  font-size: 12px;
  background: #fff;
  z-index: 1;
}
#sidebar a {
  color: #000;
  text-decoration: none;
}
#sidebar a:hover {
  color: #7ba7af;
  text-decoration: none;
}
#sidebar ul li {
  list-style: none;
}
#sidebar h1, #sidebar h3 {
  color: #000;
  font-size: 1.7em;
  font-weight: bolder;
  line-height: 0px;
  text-transform: uppercase;
}
#sidebar h2, #sidebar main h3, main #sidebar h3 {
  color: #555;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 30px;
}
#sidebar h3 {
  font-size: 130%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 35px;
}
#sidebar h3:after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid;
  overflow: hidden;
  justify-content: space-around;
}
#sidebar .row {
  overflow: auto;
  vertical-align: top;
  font-size: 1em;
  margin: auto;
  padding-left: 1em;
}
#sidebar .row .col-xs-1 {
  display: inline;
  padding: 1px 0px;
  padding-bottom: 0.5em;
}
#sidebar .row .col-xs-11 {
  display: inline;
}
#sidebar #skills {
  padding-right: 10px;
}
#sidebar #skills b {
  font-style: none;
  font-weight: bolder;
  font-size: 1.1em;
  color: #7ba7af;
}
#sidebar #genPDF:hover {
  color: #7ba7af;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  #sidebar {
    display: none;
  }

  main {
    margin: 20px 20px;
  }

  main #pdfSkills {
    display: inline-block;
  }

  main #pdfTitle {
    display: inline-block;
    margin: 0px;
  }

  main #pdfTitle h2, main #pdfTitle h3 {
    font-size: 1.5em;
    margin: 10px 2px 4px;
  }

  main #pdfTitle h3 {
    font-size: 0.8em;
    margin: 2px;
  }

  main h1, main #sidebar h3, #sidebar main h3 {
    margin-top: 5px;
  }

  #animation {
    width: 60%;
  }

  #summary {
    padding-top: 0px;
  }

  #summary h1, #summary #sidebar h3, #sidebar #summary h3 {
    margin-top: 0px;
  }

  .mobile-icon {
    width: 5%;
  }

  #pdfSkills b {
    font-weight: bolder;
    color: #7ba7af;
  }
}

/*# sourceMappingURL=styles.css.map */
